version: '3.8'

services:
  # Data Base
  postgres:
    image: postgres:16-alpine
    container_name: cpm-postgres
    environment:
      POSTGRES_DB: cpm_db
      POSTGRES_USER: cpm_user
      POSTGRES_PASSWORD: cpm_password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - cpm-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U cpm_user -d cpm_db"]
      interval: 10s
      timeout: 5s
      retries: 5

  # Observability (Distributed Tracing)
  zipkin:
    image: openzipkin/zipkin
    container_name: cpm-zipkin
    ports:
      - "9411:9411"
    networks:
      - cpm-network

  # OpenLDAP (User Directory)
  openldap:
    image: osixia/openldap:1.5.0
    container_name: cpm-openldap
    command: --copy-service
    ports:
      - "389:389"
      - "636:636"
    volumes:
      - ./infra/ldap/ldap-data.ldif:/container/service/slapd/assets/config/bootstrap/ldif/custom/ldap-data.ldif
      - ldap_data:/var/lib/ldap
    environment:
      LDAP_ORGANISATION: "Cloud Provisioning Manager"
      LDAP_DOMAIN: "cpm.org"
      LDAP_ADMIN_PASSWORD: "admin"
    networks:
      - cpm-network

  # --- NOVO: WireMock (Simula o OpenStack) ---
  wiremock:
    image: wiremock/wiremock:2.35.0
    container_name: cpm-wiremock
    ports:
      - "8081:8080" # Mapeia a porta 8080 do container para a 8081 do seu Mac
    command: --verbose --global-response-templating
    networks:
      - cpm-network

# Global Keys
volumes:
  postgres_data:
  ldap_data:

networks:
  cpm-network:
    driver: bridge